@import "tailwindcss";

@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: .275rem black;
  }
}

body {
    paint-order: stroke fill;
}

.settings__help {
    @apply bg-gray-100 rounded-lg p-4 border border-gray-200;
}

.nav__button {
    @apply text-sm bg-black/30 hover:bg-black/60 text-white border-2 border-black/20 px-4 py-2 rounded-full transition-all flex items-center gap-2;
}

header {
    @apply w-full;
}

.title {
    @apply grid gap-2 justify-items-center;
}

.title__main {
    -webkit-text-stroke: .425rem black;
    @apply text-3xl font-semibold text-white rounded-2xl md:text-6xl;
}

.title__sub {
    @apply w-fit text-center text-lg text-black rounded-xl max-w-[40vw] md:text-xl;
}

#selectedStudent {
    -webkit-text-stroke: 0;
    @apply inline-block bg-white text-black border-2 border-black px-4 py-2 rounded-lg text-4xl font-semibold shadow-xl animate-wiggle md:text-6xl;
}

.feeling-card p:empty {
    background-color: transparent;
}